<html>
<head>  
    <title> Home page</title>
</head>
<body>
    <h1>Hello Welcome To My Page</h1>
    <p>This is a basic webpage i am testing</p>
</body>
</html> 

<!-- <html>
<head>  
    <title> Home page</title>
</head>
<body>
    <h1>Hello Welcome To My Page</h1>
    <p> {{content}}</p>
</body>
</html>  -->


<!-- adding python code  -->
<!-- <html>
<head>  
    <title> Home page</title>
</head>
<body>
    <h1>Hello Welcome To My Page</h1>
    {% for i in range (10) %}
        <p> {{i}}</p>
    {% endfor %}
</body>
</html>  -->